<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{{ url_for('index') }}" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="{{ url_for('catalog') }}" class="nav-link px-2 link-dark">Catalog</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
        <li><a href="{{ url_for('about') }}" class="nav-link px-2 link-dark">About</a></li>
        {% if current_user.is_authenticated %}
          {% if current_user.is_super() %}
            <li><a href="{{ url_for('add_post') }}" class="nav-link px-2 link-dark">Add post</a></li>
          {% endif %}
        {% endif %}
      </ul>

      <div class="col-md-3 text-end">
        {% if not current_user.is_anonymous %}
          <a href="{{ url_for('logout') }}" class="btn btn-primary" role="button">Logout</a>
          <a href="{{ url_for('cart') }}" class="btn btn-primary" role="button">{{ current_user.get_cart_content() }}</a>
        {% else %}
          <a href="{{ url_for('login') }}" class="btn btn-primary" role="button">Login</a>
          <a href="{{ url_for('register') }}" class="btn btn-primary" role="button">Register</a>
        {% endif %}
      </div>
    </header>
  </div>