{% extends 'base.html' %}

{% block content %}
    <form action="" method="post" name="add_category">
        {{ form.hidden_tag() }}
        <p>
            Category:<br>
            {{ category_name }}<br>
        </p>
        <p>
            Name:<br>
            {{ form.name }}<br>
        </p>
        <p>
            Description:<br>
            {{ form.description }}<br>
        </p>
        <p>
            Path to picture:<br>
            {{ form.picture }}<br>
        </p>
        <p>
            Price:<br>
            {{ form.price }}<br>
        </p>
        <p>
            Mark:<br>
            {{ form.mark }}<br>
        </p>
        <p><input type="submit" value="add"></p>
        <p><a href="{{ url_for('index') }}"><input type="button" value="Home"></a></p>
    </form>
{% endblock %}