{% extends 'base.html' %}
{% block content %}
        <div class="row">
        {% if current_user.is_authenticated and current_user.is_super() %}
            <div class="col-4">
                {% include '_add_new.html' %}
            </div>
        {% endif %}
        {% if categories %}
            {% for cat in categories %}
            <div class="col-4">
                {% include '_category.html' %}
            </div>
            {% endfor %}
        {% endif %}
        </div>
{% endblock %}